/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-super-simple-slider-by-nd {
	margin: 0px;
	color: #606060;
	font-size: 16px;
	font-weight: 400;
	background-color: #fafaff;
	border: 1px solid #c3c3df;	
	.title{
		width: 100%;
	}
}
.panel-column{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	.fontLabel{
		padding-bottom: 12px;
	}
}
.select-cat{
	padding: 10px;
}